         body {

           background-color: #E6F0FA;
       }

       header {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           background-image: url("paginainicial.png");
           background-size: cover;
           flex-direction: column;

       }

       h1 {
           color: #6C63FF;
           font-size: 25px;
           font-family: "Caprasimo", serif;
           font-weight: 400;
           font-style: normal;
           text-align: center;
       }

       main {
           display: flex;
           flex-direction: column;
           background-image: url("fundopagina.png");
           background-repeat: repeat-y;
           background-size: auto;

       }

       .subtitulo {
           color: #3333338a;
           font-size: 20px;
           font-family: sans-serif;
           text-align: center;
       }

       .paginainicial {
           color: #6C63FF;
           font-size: 20px;
           font-family: Open Serif, serif;
           font-weight: 400;
           font-style: normal;
           text-align: center;
           padding: 20px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.445);
           border-radius: 20px;
           background-color: #ffffff;
           align-items: center;
           flex-direction: column;
           height: auto;
           width: 400px;
           margin: 20px;
       }

       h2 {
           color: #3333338a;
           font-size: 30px;
           font-family: sans-serif;

       }

       .galeria {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 20 px;
           padding: 20px;
       }

       .adalovelace {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           box-sizing: border-box;
           width: 400px;
       }

       .margarethamilton {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .katherinejohnson {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .gracehopper {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .radiaperlman {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .contribuicoes {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;

       }

       .boxes {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 20px;
           padding: 20px;
       }

       .boxlovelace {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .boxhamilton {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .boxjohnson {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .boxhopper {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .boxperlman {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           width: 400px;
       }

       .formulario {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
            margin: 20px;
            font-family: sans-serif;
            font-size: 16px;
            text-align: center;
            background-color: #FFFFFF;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }
