       body {

           background-color: #E6F0FA;
       }

       header {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
           background-image: url("paginainicial.png");
           background-size: cover;

       }

       h1 {
           color: #6C63FF;
           font-size: 25px;
           font-family: "Caprasimo", serif;
           font-weight: 400;
           font-style: normal;
           text-align: center;
       }

       .subtitulo {
           color: #3333338a;
           font-size: 20px;
           font-family: sans-serif;
           text-align: center;
       }

       .paginainicial {
           color: #6C63FF;
           font-size: 20px;
           font-family: Open Serif, serif;
           font-weight: 400;
           font-style: normal;
           text-align: center;
           padding: 20px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.445);
           border-radius: 20px;
           background-color: #ffffff;
           align-items: center;
           flex-direction: column;
           height: auto;
       }

       h2 {
           color: #3333338a;
           font-size: 30px;
           font-family: sans-serif;

       }

       .adalovelace {
           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
           box-sizing: border-box;
       }

       .margarethamilton {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(160, 87, 209, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
       }

       .katherinejohnson {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
       }

       .gracehopper {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
       }

       .radiaperlman {

           background-color: #FFFFFF;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
       }

       .contribuicoes {
           background-color: #FFFFFF;
           padding: 20px;
           border: 3px solid rgb(213, 140, 247);
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(74, 0, 143, 0.5);
           margin: 20px;
           font-family: sans-serif;
           font-size: 16px;
           text-align: center;
       }
